USE [user42]
GO
/****** Object:  Table [dbo].[Fabric]    Script Date: 23.05.2019 17:58:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fabric](
	[Id] [varchar](50) NOT NULL,
	[Name] [varchar](50) NULL,
	[Color] [varchar](50) NULL,
	[Pattern] [varchar](50) NULL,
	[Composition] [varchar](50) NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FabricStock]    Script Date: 23.05.2019 17:58:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FabricStock](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdFabric] [varchar](50) NOT NULL,
	[Width] [float] NULL,
	[Height] [float] NULL,
	[IdUnitWidth] [int] NULL,
	[IdUnitHeight] [int] NULL,
	[PurchasePrice] [float] NULL,
 CONSTRAINT [PK_Stock] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Furniture]    Script Date: 23.05.2019 17:58:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Furniture](
	[Id] [varchar](50) NOT NULL,
	[Name] [varchar](500) NULL,
	[Type] [varchar](100) NULL,
	[PurchasePrice] [float] NULL,
 CONSTRAINT [PK_Furniture] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FurnitureStock]    Script Date: 23.05.2019 17:58:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FurnitureStock](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdFurniture] [varchar](50) NOT NULL,
	[Width] [float] NULL,
	[IdUnitWidth] [int] NULL,
	[Height] [float] NULL,
	[IdUnitHeight] [int] NULL,
	[PurchasePrice] [float] NULL,
 CONSTRAINT [PK_FurnitureStock] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 23.05.2019 17:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[IdState] [int] NOT NULL,
	[IdManager] [int] NULL,
	[Price] [float] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 23.05.2019 17:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdOrder] [int] NOT NULL,
	[IdProduct] [varchar](50) NOT NULL,
	[IdFabric] [varchar](50) NOT NULL,
	[IdFurniture] [varchar](50) NOT NULL,
	[IdBorder] [varchar](50) NOT NULL,
	[Width] [float] NOT NULL,
	[Height] [float] NOT NULL,
	[IdUnitWidth] [int] NOT NULL,
	[IdUnitHeight] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[RotationAngle] [int] NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_OrderList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderState]    Script Date: 23.05.2019 17:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderState](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_OrderStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 23.05.2019 17:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [varchar](50) NOT NULL,
	[Description] [varchar](1200) NULL,
	[Name] [varchar](100) NULL,
	[Width] [float] NULL,
	[Height] [float] NULL,
	[IdUnitWidth] [int] NULL,
	[IdUnitHeight] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 23.05.2019 17:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScrapRule]    Script Date: 23.05.2019 17:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScrapRule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdMaterial] [varchar](50) NOT NULL,
	[IdUnit] [int] NOT NULL,
	[Value] [int] NOT NULL,
 CONSTRAINT [PK_ScrapRule] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 23.05.2019 17:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitConvert]    Script Date: 23.05.2019 17:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitConvert](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUnit1] [int] NOT NULL,
	[IdUnit2] [int] NOT NULL,
	[Ratio] [float] NOT NULL,
 CONSTRAINT [PK_UnitConvert] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 23.05.2019 17:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[IdRole] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Fabric] ([Id], [Name], [Color], [Pattern], [Composition]) VALUES (N' ГС025', N'Пластик на два прокола', N'Черный', N'однотонный', N'')
INSERT [dbo].[Fabric] ([Id], [Name], [Color], [Pattern], [Composition]) VALUES (N'1015', N'"Атлас однотонный ""Топленое молоко"""', N'белый', N'однотонная', N'100% полиэстер')
INSERT [dbo].[Fabric] ([Id], [Name], [Color], [Pattern], [Composition]) VALUES (N'1016', N'"Атлас однотонный ""Волна"""', N'синий', N'однотонная', N'100% полиэстер')
GO
SET IDENTITY_INSERT [dbo].[FabricStock] ON 

INSERT [dbo].[FabricStock] ([Id], [IdFabric], [Width], [Height], [IdUnitWidth], [IdUnitHeight], [PurchasePrice]) VALUES (1, N'16314397', 780, 395, 2, 3, 2000)
INSERT [dbo].[FabricStock] ([Id], [IdFabric], [Width], [Height], [IdUnitWidth], [IdUnitHeight], [PurchasePrice]) VALUES (2, N'17812558', 320, 150, 2, 3, 300)
INSERT [dbo].[FabricStock] ([Id], [IdFabric], [Width], [Height], [IdUnitWidth], [IdUnitHeight], [PurchasePrice]) VALUES (3, N'16306418', 380, 250, 2, 2, 650)
GO
SET IDENTITY_INSERT [dbo].[FabricStock] OFF
INSERT [dbo].[Furniture] ([Id], [Name], [Type], [PurchasePrice]) VALUES (N' 3178', N'"Гипюр ""GAMMA"""', N'Лента', 190)
INSERT [dbo].[Furniture] ([Id], [Name], [Type], [PurchasePrice]) VALUES (N'"	659-G"', N'антик Пуговица джинсовая', N'пуговица', 1.2000000476837158)
INSERT [dbo].[Furniture] ([Id], [Name], [Type], [PurchasePrice]) VALUES (N'"	CB A-77"', N'24L c.White Пуговицы', N'пуговица', 4.3000001907348633)
GO
SET IDENTITY_INSERT [dbo].[FurnitureStock] ON 

INSERT [dbo].[FurnitureStock] ([Id], [IdFurniture], [Width], [IdUnitWidth], [Height], [IdUnitHeight], [PurchasePrice]) VALUES (12017, N'GB1114', 32, 1, 17, 1, 143)
INSERT [dbo].[FurnitureStock] ([Id], [IdFurniture], [Width], [IdUnitWidth], [Height], [IdUnitHeight], [PurchasePrice]) VALUES (12018, N'GB1146', 39, 1, 33, 1, 154)
INSERT [dbo].[FurnitureStock] ([Id], [IdFurniture], [Width], [IdUnitWidth], [Height], [IdUnitHeight], [PurchasePrice]) VALUES (12019, N'GB1220', 25, 1, 25, 1, 55)
GO
SET IDENTITY_INSERT [dbo].[FurnitureStock] OFF
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Id], [IdUser], [Date], [IdState], [IdManager], [Price]) VALUES (15, 8, CAST(N'2019-05-19T00:40:52.540' AS DateTime), 7, 5, 1401)
INSERT [dbo].[Order] ([Id], [IdUser], [Date], [IdState], [IdManager], [Price]) VALUES (16, 8, CAST(N'2019-05-19T00:50:06.510' AS DateTime), 4, 9, 1422)
INSERT [dbo].[Order] ([Id], [IdUser], [Date], [IdState], [IdManager], [Price]) VALUES (18, 8, CAST(N'2019-05-20T09:07:52.673' AS DateTime), 7, 9, 1060)
SET IDENTITY_INSERT [dbo].[Order] OFF
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([Id], [IdOrder], [IdProduct], [IdFabric], [IdFurniture], [IdBorder], [Width], [Height], [IdUnitWidth], [IdUnitHeight], [Price], [RotationAngle], [Amount]) VALUES (1, 15, N'002.988.40', N'1019', N'01_7Б', N'1021', 20, 2, 2, 2, 1401, 30, 3)
INSERT [dbo].[OrderItem] ([Id], [IdOrder], [IdProduct], [IdFabric], [IdFurniture], [IdBorder], [Width], [Height], [IdUnitWidth], [IdUnitHeight], [Price], [RotationAngle], [Amount]) VALUES (2, 15, N'002.988.40', N'1019', N'01_7Б', N'1021', 20, 2, 2, 2, 1401, 30, 3)
INSERT [dbo].[OrderItem] ([Id], [IdOrder], [IdProduct], [IdFabric], [IdFurniture], [IdBorder], [Width], [Height], [IdUnitWidth], [IdUnitHeight], [Price], [RotationAngle], [Amount]) VALUES (3, 16, N'003.065.00', N'1024', N'05Б', N'1022', 2, 3, 3, 3, 472, 0, 1)
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
SET IDENTITY_INSERT [dbo].[OrderState] ON 

INSERT [dbo].[OrderState] ([Id], [Name]) VALUES (1, N'Новый')
INSERT [dbo].[OrderState] ([Id], [Name]) VALUES (2, N'Ожидает')
INSERT [dbo].[OrderState] ([Id], [Name]) VALUES (3, N'Обработка')
SET IDENTITY_INSERT [dbo].[OrderState] OFF
INSERT [dbo].[Product] ([Id], [Description], [Name], [Width], [Height], [IdUnitWidth], [IdUnitHeight]) VALUES (N'001.427.40', NULL, N'Простыня', 260, 150, 2, 2)
INSERT [dbo].[Product] ([Id], [Description], [Name], [Width], [Height], [IdUnitWidth], [IdUnitHeight]) VALUES (N'001.635.58', NULL, N'Простыня', 100, 150, 2, 2)
INSERT [dbo].[Product] ([Id], [Description], [Name], [Width], [Height], [IdUnitWidth], [IdUnitHeight]) VALUES (N'001.745.14', NULL, N'Полотенце кухонное', 70, 50, 2, 2)
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'Заказчик')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (2, N'Менеджер')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (3, N'Кладовщик')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[Unit] ON 

INSERT [dbo].[Unit] ([Id], [Name]) VALUES (1, N'мм')
INSERT [dbo].[Unit] ([Id], [Name]) VALUES (2, N'см')
INSERT [dbo].[Unit] ([Id], [Name]) VALUES (3, N'м')
SET IDENTITY_INSERT [dbo].[Unit] OFF
SET IDENTITY_INSERT [dbo].[UnitConvert] ON 

INSERT [dbo].[UnitConvert] ([Id], [IdUnit1], [IdUnit2], [Ratio]) VALUES (1, 1, 1, 1)
INSERT [dbo].[UnitConvert] ([Id], [IdUnit1], [IdUnit2], [Ratio]) VALUES (2, 1, 2, 0.1)
INSERT [dbo].[UnitConvert] ([Id], [IdUnit1], [IdUnit2], [Ratio]) VALUES (3, 1, 3, 0.001)
SET IDENTITY_INSERT [dbo].[UnitConvert] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Login], [Password], [IdRole]) VALUES (2, N'MrJackson', N'HelloWorld1!', 1)
INSERT [dbo].[User] ([Id], [Login], [Password], [IdRole]) VALUES (3, N'MrJackson1', N'Stop!1', 1)
INSERT [dbo].[User] ([Id], [Login], [Password], [IdRole]) VALUES (4, N'3', N'3', 3)
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[FabricStock]  WITH CHECK ADD  CONSTRAINT [FK_FabricStock_Unit] FOREIGN KEY([IdUnitHeight])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[FabricStock] CHECK CONSTRAINT [FK_FabricStock_Unit]
GO
ALTER TABLE [dbo].[FabricStock]  WITH CHECK ADD  CONSTRAINT [FK_FabricStock_Unit1] FOREIGN KEY([IdUnitWidth])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[FabricStock] CHECK CONSTRAINT [FK_FabricStock_Unit1]
GO
ALTER TABLE [dbo].[FabricStock]  WITH CHECK ADD  CONSTRAINT [FK_Stock_Material] FOREIGN KEY([IdFabric])
REFERENCES [dbo].[Fabric] ([Id])
GO
ALTER TABLE [dbo].[FabricStock] CHECK CONSTRAINT [FK_Stock_Material]
GO
ALTER TABLE [dbo].[FurnitureStock]  WITH CHECK ADD  CONSTRAINT [FK_FurnitureStock_Furniture] FOREIGN KEY([IdFurniture])
REFERENCES [dbo].[Furniture] ([Id])
GO
ALTER TABLE [dbo].[FurnitureStock] CHECK CONSTRAINT [FK_FurnitureStock_Furniture]
GO
ALTER TABLE [dbo].[FurnitureStock]  WITH CHECK ADD  CONSTRAINT [FK_FurnitureStock_Unit] FOREIGN KEY([IdUnitHeight])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[FurnitureStock] CHECK CONSTRAINT [FK_FurnitureStock_Unit]
GO
ALTER TABLE [dbo].[FurnitureStock]  WITH CHECK ADD  CONSTRAINT [FK_FurnitureStock_Unit1] FOREIGN KEY([IdUnitWidth])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[FurnitureStock] CHECK CONSTRAINT [FK_FurnitureStock_Unit1]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_OrderState] FOREIGN KEY([IdState])
REFERENCES [dbo].[OrderState] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_OrderState]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Unit] FOREIGN KEY([IdUnitHeight])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Unit]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Unit1] FOREIGN KEY([IdUnitWidth])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Unit1]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderList_Fabric] FOREIGN KEY([IdFabric])
REFERENCES [dbo].[Fabric] ([Id])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderList_Fabric]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderList_Furniture] FOREIGN KEY([IdFurniture])
REFERENCES [dbo].[Furniture] ([Id])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderList_Furniture]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderList_Order] FOREIGN KEY([IdOrder])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderList_Order]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderList_Product] FOREIGN KEY([IdProduct])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderList_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Unit] FOREIGN KEY([IdUnitWidth])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Unit]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Unit1] FOREIGN KEY([IdUnitHeight])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Unit1]
GO
ALTER TABLE [dbo].[ScrapRule]  WITH CHECK ADD  CONSTRAINT [FK_ScrapRule_Material] FOREIGN KEY([IdMaterial])
REFERENCES [dbo].[Fabric] ([Id])
GO
ALTER TABLE [dbo].[ScrapRule] CHECK CONSTRAINT [FK_ScrapRule_Material]
GO
ALTER TABLE [dbo].[UnitConvert]  WITH CHECK ADD  CONSTRAINT [FK_UnitConvert_Unit1] FOREIGN KEY([IdUnit1])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[UnitConvert] CHECK CONSTRAINT [FK_UnitConvert_Unit1]
GO
ALTER TABLE [dbo].[UnitConvert]  WITH CHECK ADD  CONSTRAINT [FK_UnitConvert_Unit2] FOREIGN KEY([IdUnit2])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[UnitConvert] CHECK CONSTRAINT [FK_UnitConvert_Unit2]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
